<!-- views/pages/confessions.ejs -->

<h2>Approved Confessions</h2>

<% if (confessions.length > 0) { %>
    <ul>
        <% confessions.forEach(confession => { %>
            <li>
                <p><%= confession.content %></p>
                <p><em>Author: <%= confession.author %></em></p>
            </li>
        <% }) %>
    </ul>

    <!-- Pagination Links -->
    <div class="pagination">
        <% if (currentPage > 1) { %>
            <a href="/confessions?page=<%= currentPage - 1 %>">Previous</a>
        <% } %>

        <% for (let i = 1; i <= totalPages; i++) { %>
            <a href="/confessions?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
        <% } %>

        <% if (currentPage < totalPages) { %>
            <a href="/confessions?page=<%= currentPage + 1 %>">Next</a>
        <% } %>
    </div>
<% } else { %>
    <p>No approved confessions found</p>
<% } %>
