<!-- views/pages/magazine.ejs -->

<h2>All News Articles</h2>

<% if (articles.length > 0) { %>
    <ul>
        <% articles.forEach(article => { %>
            <li>
                <h3><a href="/news/<%= article._id %>"><%= article.title %></a></h3>
                <p><%= article.content.substring(0, 100) %>...</p>
            </li>
        <% }) %>
    </ul>
    
    <!-- Pagination Links -->
    <div class="pagination">
        <% if (currentPage > 1) { %>
            <a href="/magazine?page=<%= currentPage - 1 %>">Previous</a>
        <% } %>
        
        <% for (let i = 1; i <= totalPages; i++) { %>
            <a href="/magazine?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
        <% } %>

        <% if (currentPage < totalPages) { %>
            <a href="/magazine?page=<%= currentPage + 1 %>">Next</a>
        <% } %>
    </div>
<% } else { %>
    <p>No articles found</p>
<% } %>
