<h2>Manage Articles</h2>
<a href="/admin/articles/new">Create New Article</a>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% articles.forEach(article => { %>
            <tr>
                <td><%= article.title %></td>
                <td><%= article.author %></td>
                <td><%= article.createdAt.toLocaleString() %></td>
                <td>
                    <a href="/admin/articles/edit/<%= article._id %>">Edit</a>
                    <a href="/admin/articles/delete/<%= article._id %>">Delete</a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<div>
    <%= currentPage > 1 ? '<a href="/admin/articles?page=' + (currentPage - 1) + '">Previous</a>' : '' %>
    <span>Page <%= currentPage %> of <%= totalPages %></span>
    <%= currentPage < totalPages ? '<a href="/admin/articles?page=' + (currentPage + 1) + '">Next</a>' : '' %>
</div>
